
<!DOCTYPE html>
<html>
	<head>
		<title> Course </title>
		<link rel="stylesheet" href="../styles/styles.css">
		<style>
		body {
			font-family: Roboto Thin;
			background-image: url('../images/b_course.png');
			background-attachment: fixed;
			background-size: 100% 100%;
		}
		dt {
			font-weight: bold;
			color: #F3D000;
			font-size: 20px;
		}
					
		dd {
			font-weight: bold;
			color: #ddd4e0;
		}
		
		.course-list {
			min-width: 300px;
			padding: 20px;
			margin-left: 100px;
			color: #000000;
			font-weight:bold;
		}
			
		</style>		
	</head>
	
	<body>
	<!--Header-->
	<div>
		<a href="Home.html">
			<img src="../images/let.jpg" alt="logo not loaded" height="80"/>
		</a>
		<div class="navigation-links">
			<a href="Home.html" class="navigation-link">Home</a>
			<a href="About.html" class="navigation-link">About</a>
			<a href="Course.html" class="navigation-link">Course</a>
			<a href="Contact.html" class="navigation-link">Contact</a>
		</div>
	</div>
	
	<!-- Middle -->
	
	<div>
		<h1 class="yellow-text tac1"> THIS IS CONTENT OF OUR COURSE : </h1>
		<div class="display-if">
			<dl class="course-list">
				<dt>Lesson 1</dt>
				<a1 href=""><dd>Introduction to HTML</dd></a1>
				<dt>Lesson 2</dt>
				<a1 href=""><dd>HTML document structure</dd></a1>
				<dt>Lesson 3</dt>
				<a1 href=""><dd>Attributes</dd></a1>
				<dt>Lesson 4</dt>
				<a1 href=""><dd>Paragraphs and text formatting</dd></a1>
				<dt>Lesson 5</dt>
				<a1 href=""><dd>Quotation elements</dd></a1>
				<dt>Lesson 6</dt>
				<a1 href=""><dd>Block and inline elements</dd></a1>
				<dt>Lesson 7</dt>
				<a1 href=""><dd>Comments</dd></a1>
				<dt>Lesson 8</dt>
				<a1 href=""><dd>Headings</dd></a1>
			</dl>
			<dl class="course-list">
				<dt>Lesson 9</dt>
				<a1 href=""><dd>Lists</dd></a1>
				<dt>Lesson 10</dt>
				<a1 href=""><dd>Tabels</dd></a1>
				<dt>Lesson 11</dt>
				<a1 href=""><dd>Images</dd></a1>
				<dt>Lesson 12</dt>
				<a1 href=""><dd>Links</dd></a1>
				<dt>Lesson 13</dt>
				<a1 href=""><dd>Frames</dd></a1>
				<dt>Lesson 14</dt>
				<a1 href=""><dd>Iframes</dd></a1>
				<dt>Lesson 15</dt>
				<a1 href=""><dd>Forms</dd></a1>
				<dt>Lesson 16</dt>
				<a1 href=""><dd>Form elements</dd></a1>
			</dl>
			<dl class="course-list">
				<dt>Lesson 17</dt>
				<a1 href=""><dd>Input types</dd></a1>
				<dt>Lesson 18</dt>
				<a1 href=""><dd>Input types HTML5</dd></a1>
				<dt>Lesson 19</dt>
				<a1 href=""><dd>Restriction attributes</dd></a1>
				<dt>Lesson 20</dt>
				<a1 href=""><dd>Head element</dd></a1>
				<dt>Lesson 21</dt>
				<a1 href=""><dd>Meta tags</dd></a1>
				<dt>Lesson 22</dt>
				<a1 href=""><dd>Real world HTML website</dd></a1>
				<dt>Lesson 23</dt>
				<a1 href=""><dd>HTML interview questions</dd></a1>
				<dt>Lesson 24</dt>
				<a1 href=""><dd>Advice how to create awesome websites</dd></a1>
			</dl>
		</div>		
			
	</div>	
		
	
	<!-- Footer -->
	
	<div class="footer">
		<div>
			<a href="http://www.facebook.com">
				<img src="../images/fb.png" alt="fb not loaded" height="30" />
			</a>
			
			<a href="http://www.instagram.com">
				<img src="../images/insta.jpeg" alt="insta not loaded" height="30" />
			</a>
			
			<a href="http://mobile.twitter.com">
				<img src="../images/twitter.jpeg" alt="twitter not loaded" height="30" />
			</a>
		</div>
		<p class="mt-0">copyright &copy; <a href="mailto: someaddress@mail.com class="grey-text">Let's Solve</a> <sup>&reg;</sup> </p>
	</div>		
	</body>
</html>	



