
	<!-- Footer -->
	
        <div class="footer">
            <div>
                <a href="http://www.facebook.com">
                    <img src="../static/images/fb.png" alt="fb not loaded" height="30" />
                </a>
                
                <a href="http://www.instagram.com">
                    <img src="../static/images/insta.jpeg" alt="insta not loaded" height="30" />
                </a>
                
                <a href="http://mobile.twitter.com">
                    <img src="../static/images/twitter.jpeg" alt="twitter not loaded" height="30" />
                </a>
            </div>
            <p class="mt-0">copyright &copy; <a href="mailto: someaddress@mail.com class="grey-text">Let's Solve</a> <sup>&reg;</sup> </p>
        </div>		
	</body>
</html>	


