<!DOCTYPE html>
<html>
	<head>
		<title> Home </title>
		<link rel="stylesheet" href="../static/styles/styles.css">
		<style>
		body {
			font-family: Roboto Thin;
			background-image: url('../static/images/Home1.png');
			background-attachment: fixed;
			background-size: 100% 100%;
		}
		
		</style>
		
	</head>
	
	<body>
        <!-- Header -->
        <div>
            <a href="Home.html">
                <img src="../static/images/let.jpg" alt="logo not loaded" height="130"/>
            </a>
            <div class="navigation-links">
                <a href="Home.html" class="navigation-link">Home</a>
                <a href="About.html" class="navigation-link">About</a>
                <a href="Course.html" class="navigation-link">Course</a>
                <a href="Contact.html" class="navigation-link">Contact</a>
            </div>
        </div>
       
    
	