

{% include "header.html" %}

	<!-- Middle -->
	
	<div class="tac">
		<h1 class="red-text"> WE PROVIDE BEST HTML COURSES ! </h1>
		<p class="grey-text"> Get started with web developement</p>
		<a href="About.html" class="navigation-link" style="display: inline-grid">
			<img src="../static/images/abt.png" alt="about not loaded" height="200"/>
			<span>About</span>
			
		</a>
		
		<a href="Course.html" class="navigation-link" style="display: inline-grid">
			<img src="../static/images/Course.jpg" alt="Course not loaded" height="200"/>
			<span>Course</span>
		</a>
		
		<a href="Contact.html" class="navigation-link" style="display: inline-grid">
			<img src="../static/images/contact.png" alt="Contact Us not loaded" height="200"/>
			<span>Contact</span>
		</a>
		
	</div>
	
{% include "footer.html" %}